@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--color-secondary);
    background: linear-gradient(180deg, var(--color-secondary) 0%, #535353 100%);
    box-shadow: 0 16px 14px 0 var(--color-bg);
    padding: 18px 24px;
    max-width: 345px;
    height: 420px;
}

.image {
    margin-bottom: 26px;
}

.cardTitle {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 350;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-family: var(--font-jetbrains);
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background: #3a82f6;
    padding: 2px 22px;
}

.links {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    font-family: var(--font-jetbrains);
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
    background: var(--color-primary);
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.linkGreen {
    text-decoration: none;
    font-family: var(--font-jetbrains);
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
    background: #16a34a;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.link[href=""] {
    display: none;
}
.linkGreen[href=""] {
    display: none;
}

.buttonImage {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  }
  .linkGreen:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }